.titulo{
    padding: .1rem;
    background-color: rgb(173, 71, 144) ;
    text-align: center;
    color: white;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }
   
   .container{
       background-color: rgb(255, 218, 245);
       padding: 1rem;
        }