<div>
    <img src="../../../assets/proveedor.png" width="260">
</div>

<div class="titulo">
    <p>PROVEEDORES</p>
</div>

<div class="container">
    <h5 *ngFor="let p of proveedor[1]">
        <p> Nombre: {{p.nombreProvedor}} </p>
        <p> Apellido Paterno: {{p.apellidoPProvedor}} </p>
        <p> Apellido Materno: {{p.apellidoMProvedor}} </p>
        <p> Edad: {{p.edadProvedor}} </p>
        <p> Telefono: {{p.telefonoProvedor}} </p>
        <br>
    </h5>
</div>