<div>
    <img src="../../../assets/refraccionaria.png" width="260">
</div>

<div class="titulo">
    <p>SUCURSALES</p>
</div>

<div class="container">
    <h5 *ngFor="let p of sucursal[1]">
        <p> Nombre: {{p.nombreSucursal}} </p>
        <p> Ubicacion: {{p.ubicacionSucursal}} </p>
        <p> Encargado: {{p.encargadoSucursal}} </p>
        <p> Horario: {{p.horarioSucursal}} </p>
        <p> Numero: {{p.numeroSucursal}} </p>
        <br>
    </h5>
</div>