<div>
    <img src="../../../assets/producto.png" width="260">
</div>
<div class="titulo">
    <p>PRODUCTOS</p>
</div>
<!-- <p>{{productos[1] | json}}</p> -->

<div class="container">
    <h5 *ngFor="let p of productos[1]">
        <p> Nombre: {{p.nombreProducto}} </p>
        <p> Marca: {{p.marcaProducto}} </p>
        <p> Presentacion: {{p.presentacionProducto}} </p>
        <p> Contenido: {{p.contenidoPriducto}} </p>
        <p> Costo: {{p.CostoPriducto}} </p>
        <p> Provedoor: {{p.proveedorProducto}} </p>
        <p> Cantidad: {{p.cantidadIngresa}} </p>
        <p> Status: {{p.statusProducto}} </p>
        <p> Descripcion: {{p.descripcionProducto}} </p>
        <br>
    </h5>
    
</div>

