.titulo{
 padding: .1rem;
 background-color: rgb(124, 71, 173) ;
 text-align: center;
 color: white;
 font-size: larger;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    background-color: rgb(237, 219, 254);
    padding: 1rem;

}