<div class="contenedor-padre clearfix">
    <div class="componente"><app-producto></app-producto> </div>
    <div class="componente"><app-sucursal></app-sucursal> </div>
    <div class="componente"><app-personal></app-personal> </div>
    <div class="componente"><app-proveedor></app-proveedor> </div>
</div>