<div>
    <img src="../../../assets/personal.png" width="260">
</div>
<div class="titulo">
    <p>PERSONAL</p>
</div>

<div class="container">
    <h5 *ngFor="let p of personal[1]">
        <p> Nombre: {{p.nombrePersonal}} </p>
        <p> Apellido Paterno: {{p.apellidoPPersonal}} </p>
        <p> Apellido Materno: {{p.apellidoMPersonal}} </p>
        <p> Edad: {{p.edadPersonal}} </p>
        <p> Telefono: {{p.telefonoPersonal}} </p>
        <br>
    </h5>
</div>