.titulo{
    padding: .1rem;
    background-color: rgb(71, 122, 173) ;
    text-align: center;
    color: white;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }
   
   .container{
       background-color: rgb(203, 229, 255);
       padding: 1rem;
        }